.btn {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 15px;
}

.simple {
    border: 1px solid #111;
    border-radius: 5px;
    background-color: #fff6cb;
    padding: 10px 20px;
}

.bg {
    background-color: #083960;
    color: #daeeff;
    padding: 5px 40px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}

.border {
    color: #f8489a;
    border: 2px solid #ff8103;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

.wide .btn {
    display: block;
    color: #de1372;
    border-color: #b05d0a;
}

.wide .btn:hover{
    /* 
        :hover must be attached, no spaces, this is for a hover state, every 
        element has one, some are just not styled. 
    */
    background-color: transparent;
}