.post-it {
    background-color: rgb(255, 252, 161);
    display: inline-block;
    width: 180px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 24px;
    padding: 18px;
    vertical-align: top;
    text-align: center;
    border-radius: 8px;
    position: relative;
}

.pin {
    position: absolute;
    top: -51px;
    right: 50%;
    transform: translateX(50%);
    width: 75px;
}

#tomato {
    width: 115px;
}

.hc {
    text-align: center;
    margin: 0%;
    padding: 5px;
}

.inline {
    display: inline-block;
    margin: 5px;
}

.blue {
    background-color: #7ff0ff;
}

#p1 {
    margin-right: 20px;
    margin-top: 60px;
    height: 180px;
}

#p2 {
    rotate: 5deg;
    margin-top: 50px;
}

.ul {
    text-align: left;
    height: 70px;
}

#doggo {
    width: 100%;
    margin-bottom: 10px;
}

#img-stacked {
    background-color: white;
    margin-top: 55px;
}

.collection {
    width: 60px;
    display: inline-block;
}

#p4 {
    width: 200px;
    margin-top: 52px;
}

.w {
    width: 70px;
}

.crochet {
    width: 70px;
}

#ul2 {
    padding-bottom: 100px;
}

#relax {
    top: -40px;
}

#adjust { 
    margin-top: -250px;
}

#plant {
    width: 200px;
    margin-top: -250px;
    margin-right: 30px;
}

#books {
    width: 200px;
    margin-top: -260px;
    margin-bottom: 20px;
}