@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Yesteryear&display=swap');

.yesteryear {
    font-family: "Yesteryear", cursive;
    font-weight: 400;
    font-style: normal;
}

.abril {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    font-family: serif;
}

img {
    width: 100%;
    object-fit: cover;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 30px 0px;
    border-bottom: 2px solid #000000;
}

header nav a {
    text-decoration: none;
    color: black;
}

nav h3 {
    font-size: 25px;
}

.logo-p1 {
    font-size: 40px;
    margin: 0px 15px 0px 0px;
    display: inline-block;
}

.logo-p2 {
    font-size: 58px;
    display: inline-block;
    margin-top: -8px;
    margin-bottom: 0%;
}

#hero {
    background-image: url("../images/hero.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px 0px;
}

#hero #hero-content {
    color: #ffffff;
    text-align: center;
}

#hero-content div {
    .logo-p1 {
        font-size: 70px;
        margin-right: 25px;
    }
    .logo-p2 {
        font-size: 95px;
    }
    margin-bottom: 50px;
}

#hero-content a {
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    border: 5px solid white;
    padding: 20px 90px;
}

#two-column {
    display: flex;
    background-color: #000000;
    color: #ffffff;
}

#title {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

#title #line {
    rotate: 90deg;
}

#title #title-content {
    text-align: center;
    font-size: 40px;
    margin-top: 200px;
}

#title #a {
    font-size: 40px;
    text-decoration: none;
    color: #ffffff;
    border: 5px solid white;
    padding: 20px 140px;
}

#g-layout {
    flex: 2;
}

.hg-masonry {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 30px;
}

.hg-masonry img {
    height: 250px;
    flex: 1;
}

#c-container {
    margin: 135px 60px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.card {
    border: 5px solid #000000;
    width: 500px;
    height: 335px;
    padding: 40px 40px;
    h3 {
        font-size: 70px;
        margin-bottom: 0px;
        margin-top: 40px;
        margin-left: 115px;
    }
    a {
        text-decoration: none;
        color: #000000;
        font-size: 30px;
        margin-left: 120px;
    }
}

#c1 {
    h3 {
        margin-left: 125px;
    }
}

#c2 a {
    margin-left: 140px;
}

#c3 a {
    margin-left: 140px;
}

hr {
    height: 3px;
    background-color: #000000;
    margin-bottom: 30px;
}

.slide-right {
    -webkit-animation: 
        slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

@media screen and (max-width: 660px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    header nav {
        gap: 0px;
    }
    #hero {
        height: 40vh;
        #hero-content div {
            .logo-p1 {
                font-size: 35px;
            }
            .logo-p2 {
                font-size: 55px;
            }
            margin-bottom: 25px;
        }
        #hero-content a {
            font-size: 20px;
            border: 4px solid white;
            padding: 12px 20px;
        }
    }
    #two-column {
        display: block;
        #title {
            margin-bottom: 100px;
        }
    }
    #c-container {
        display: block;
        margin: 100px;
        .card {
            width: 300px;
            margin-bottom: 50px;
            h3 {
                margin-left: 20px;
            }
            a {
                margin-left: 40px;
            }
        }
        #c1 {
            h3 {
                margin-left: 35px;
            }
        }
    }
}

@media screen and (max-width: 485px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    header nav {
        gap: 0px;
    }
    #hero {
        height: 30vh;
        #hero-content div {
            .logo-p1 {
                font-size: 18px;
                margin-right: 5px;
            }
            .logo-p2 {
                font-size: 28px;
            }
            margin-bottom: 15px;
        }
        #hero-content a {
            font-size: 12px;
            border: 3px solid white;
            padding: 8px 15px;
        }
    }
    #title #title-content {
        font-size: 20px;
        margin-top: 200px;
        margin-bottom: 20px;
    }
    #title #a {
        font-size: 20px;
        padding: 20px 70px;
        margin-bottom: 0px;
    }
    #c-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .card {
            width: 280px;
            margin-bottom: 20px;
            h3 {
                margin-left: 1px;
            }
            a {
                margin-left: 25px;
            }
        }
        #c1 {
            h3 {
                margin-left: 25px;
                width: 280px;
            }
        }
        #c3 {
            h3 {
                width: 280px;
            }
        }
    }
}