@font-face {
    font-family: 'briceb';
    src: url('../fonts/brice-black.otf');
}

@font-face {
    font-family: 'piedmont';
    src: 
        url('../fonts/piedmont-regular.otf') format('opentype'),
        url('../fonts/piedmont-regular.ttf') format('truetype');
}

#pop-logo {
    font-family: "piedmont";
    margin-top: -2px;
    margin-left: 70px;
    font-size: 40px;
    text-align: center;
    color: #e95869;
    text-decoration: underline solid #e95869;
}

#top-logo {
    font-family: "briceb";
    margin: 0%;
    text-align: center;
    font-size: 40px;
    color: #f3818e;
    text-decoration: underline solid #e95869;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0px;
}

header {
    position: sticky;
    top: 0px;
}

header nav {
    background: linear-gradient(to bottom, #ffdf8d, #f8ff9c);
    /* radial gradient uses from instead of to */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #e95869;
    padding: 24px;
    font-family: "briceb";
}

nav .btn {
    background-color: #e95869;
    color: #ffffff;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    font-family: "briceb";
    letter-spacing: 2px;
}

body h1 {
    text-align: center;
    margin-top: 30px;
}