body {
    font-family: sans-serif;
}

#pg {
    color: green;
}

#t2-s1,
#t2-s2 {
    color: #F711F7;
}
#t3-s1 {
    color: red;
}

#t3-s2 {
    color: goldenrod;
}

#t3-s3 {
    color: blue;
}

#t4 {
    background-color: skyblue;
}

#t5 {
    background-color: yellow;
}

#t6-s1, 
#t6-s2 {
    font-weight: bold;
}

#t7-s1, 
#t7-s3 {
    font-style: italic;
}

#t7-s2 {
    font-weight: bold;
}

#t8-s1, 
#t8-s2 {
    text-decoration: underline;
}

#t9 {
    font-size: 36px;
}

#t10-p {
    text-align: center;
}

#t10-s1 {
    font-size: 12px;
    font-weight: bold;
}

#t10-s2 {
    font-size: 48px;
}

#t10-s3 {
    font-size: 24px;
    font-style: italic;
}