#bibble {
    border: ridge 20px brown;
    background-color: #eeeeee;
    padding: 30px;
    margin: 100px;
    display: inline-block;
    box-shadow: inset 0px 0px 16px 1px #1c1c1c;
    box-shadow: -8px 8px 8px #202120;
    width: 200px;
}

#side-eye {
    border: solid 20px rgb(42, 50, 165);
    background-color: #eeeeee;
    padding: 25px;
    margin: 20px;
    border-radius: 50%;
    width: 150px;
    display: inline-block;
    box-shadow: inset 0px 0px 16px 1px #1c1c1c;
    box-shadow: -8px 8px 8px #202120;
}

#text {
    background-color: pink;
    padding: 15px;
}

#frame-3 {
    border: ridge 20px brown;
    background-color: #eeeeee;
    padding: 5px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 30px;
    border-radius: 10px;
    background-color: #eeeeee;
    display: inline-block;
    width: 165px;
    height: 100px;
    box-shadow: inset 0px 0px 16px 1px #1c1c1c;
    box-shadow: -8px 8px 8px #202120;
}

#bckg {
    background-image: url("../images/wood.jpg");
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}