* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    text-align: center;
}

@font-face {
    font-family: 'briceb';
    src: url('../fonts/brice-black.otf');
}

@font-face {
    font-family: 'breg';
    src: url('../fonts/brice-regular.otf');
}

@font-face {
    font-family: 'bb';
    src: url('../fonts/brice-bold.otf');
}

@font-face {
    font-family: 'piedmont';
    src: 
        url('../fonts/piedmont-regular.otf') format('opentype'),
        url('../fonts/piedmont-regular.ttf') format('truetype');
}

.pop {
    font-family: "piedmont";
}

h1 {
    font-family: "briceb";
    margin: 0%;
    text-align: center;
    font-size: 70px;
}

a {
    font-size: 30px;
    font-family: "bb";
    text-decoration: none;
    color: #543063;
    background-color: #ffffff;
    padding: 15px 25px 18px 25px;
    border-radius: 30px;
    display: inline-block;
}

h1.pop {
    margin: -17px;
}

.purp {
    color: #543063;
}

.pop.purp {
    color: #ffffff;
    margin-bottom: 10px;
}

.yell {
    color: #885122;
}

.pop.yell {
    color: #ffffff;
    margin-bottom: 25px;
}

p {
    font-family: "breg";
}

img {
    width: 100%;
    object-fit: cover;
}

.c {
    background: linear-gradient(#c48dc7 0%, #c48dc7 15%, #efc9ff 60%, #efc9ff 90%);
    /* background-color: #efc9ff; */
    min-height: 800px;
    margin: 0%;
    position: relative;
}

#yellow {
    background: linear-gradient(#f7d253 0%, #f7d253 15%, #fff29e 60%, #efc9ff 90%);
    /* background-color: #efc9ff; */
    height: 1200px;
    margin: 0%;
    position: relative;
}

#yellowb {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#purpleb {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.sc p {
    font-size: 60px;
    color: #543063;
    text-align: center;
}

#collage .sc {
    position: absolute;
    left: 53%;
    /* top: 10%; */
    /* 
        Top 10%, centers it vertically but makes it have a white border on 
        the bottom.
    */
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    align-items: center;
}

#collage {
    background:
        url("../images/finaleee.png");
    background-size: cover;
    background-position: top center;
    height: 860px;
    position: relative;
}

#label {
    width: 400px;
    display: inline-block;
}

#collage a {
    background-color: transparent;
    position: relative;
}

#collage a p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 60px;
    padding: 0px;
    width: 500px;
}

.intro {
    color: #543063;
    font-size: 120px;
}

.pop.intro {
    color: #ffffff;
}

#first {
    background: linear-gradient(#f7d253 0%, #f7d253 15%, #fff29e 60%, #efc9ff 90%);
    min-height: 100vh;
    position: relative;
    height: auto;
    padding-bottom: 150px;
}

#first img {
    margin-bottom: 0%;
}

#s2 {
    padding: 150px;
}