* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    display: flex;
    flex-wrap: wrap;
    /* padding: 48px 0px;
    width: 75%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    gap: 50px; */
}

header {
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 36px;
}

nav h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 15px;
}

nav h1 span {
    display: inline-block;
    margin: 0px;
}

#m {
    color: purple;
}

#e {
    color: #e43137;
}

#b {
    color: #0063d1;
}

#a {
    color: #f4ae01;
}

#y {
   color: #85b716;
}

#thumbnail {
    width: 100px;
    height: 100%;
    margin-left: 30px;
    margin-right: 10px;
}

#thumbnail img {
    border: 1px solid #ededed;
    flex: 1;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

#thumbnail #img1 {
    border: 2px solid #000000;
}

#fimage img {
    width: 800px;
    height: 100%;
    display: inline-block;
}

#fimage {
    flex: 1;
}

#product-info {
    flex: 2;
    margin-left: 40px;
    margin-right: 40px;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
    text-decoration: none;
}

.sbs {
    display: flex;
    align-items: center;
    gap: 30px;
}

.sbs a {
    color: #000000;
}

.block span {
    color: #707274;
}

#product-info h2 {
    font-size: 30px;
    margin: 30px 0px 5px 0px;
    /* margin-bottom: 5px; */
}

#product-info h3 {
    font-size: 15px;
    font-weight: lighter;
    color: #707274;
    margin: 0px;
}

#product-info p a {
    color: #000000;
}

#gimme-space {
    margin-bottom: 30px;
}

#ob {
    font-weight: bold;
    margin-left: 30px;
}

#ob i {
    margin-left: 5px;
}

#ob-below {
    margin-left: 108px;
    margin-top: -10px;
    font-style: italic;
}

a#buynow {
    font-weight: bold;
    color: #ffffff;
    background-color: #0095ff;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 30px;
}

.btn {
    color: #0095ff;
    border: 2px solid#0095ff;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 30px;
}